body{
    margin: 0;
    padding: 0;
}
  .site{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(6, 10, 206);
}

.logo img{
  width: 20vw;
  position: relative;
  bottom: 20px;
  right: 0px;
 
}

.icon1 #ic1{
    border: none;
    position: relative;
    top: 0px;
    left: 0px;
}

.icon1  #ic2{
    border: none;
    position: relative;
    top: 20px;
    left: 0px;
}

.categoria #ic3{
    border: none;
    position: relative;
    top: 0px;
    left: 0px;
}

.busca #inputBusca{
    position: relative;
    top: 0px;
    left: 0px;
}
