body header{
    width: 100%;
    margin: 0;
    padding: 0;
    
}

@media (min-width: 1px) and (max-width: 499px){
    header{
    background-color: rgb(255, 2, 2);
    width: 100vw;
    height: 20%;
    box-shadow: 0 7px 10px 0 #a1a1a1;
    transition: all 0.5s ease-in-out 1s;
}
    .image1{
        width: 25%;
        position: relative;
        top: 25px;
        left: 1%;
    }
    .buscar{
            padding: 6px;
            font-size: 16px;
            border: none;
            margin-bottom: 20px;
            border-radius: 4px;
            transition: all linear 160ms;
            outline: none; 
            position: relative;
            bottom: 0%;
            left: 26%;  
    }
    .icon1{
        position: relative;
        top: 0%;
        left: 20%;
        font-size: 20px;
    }
    .icon2{
        position: relative;
        top: 200px;
        left: 20px;
        font-size: 20px;
    }
}
@media (min-width: 500px) and (max-width: 800px){
    header{
        background-color: rgb(4, 0, 255);
        width: 100%;
        height: 15%;
        box-shadow: 0 7px 10px 0 #a1a1a1;
        transition: all 0.5s ease-in-out 1s;
    }
    .image2{
        width: 8%;
        position: relative;
        top: 7px;
        left: 8px;
    }
    .image3{
        width: 8%;
        position: relative;
        top: 7px;
        left: 280px;
    }
    div input{
        padding: 8px;
        font-size: 20px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        border-radius: 4px;
        transition: all linear 160ms;
        outline: none;  
        position: relative;
        top: 0px; 
        left: 160px;
    }
    div input:hover{
        border: 2px solid #000000;
    }
}
@media (min-width: 801px) {
    header{
    background-color: rgb(206, 95, 5);
    width: 100%;
    height: 15%;
    box-shadow: 0 7px 10px 0 #a1a1a1;
    transition: all 0.5s ease-in-out 1s;
}
.image2{
    width: 10%;
    position: relative;
    top: 9px;
    left: 10px;
}

    div input{
        padding: 17px;
        font-size: 30px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        margin-top: 5px;
        border-radius: 4px;
        transition: all linear 160ms;
        outline: none;
        position: relative;
        top: -35px;
        left: 200px;   
    }
    div input:hover{
        border: 2px solid #000000;
    }
}