@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
}

body *{
    box-sizing: border-box;
}
.login{
    width: 100vw;
    height: 100vh;
    background-image: url(./../assets/ef2e9e28ee33b7eac7d47284cf28b176.png) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-login > h1{
    color: rgb(6, 108, 192);
    font-size: 3vw;
}

.imagem{
    width: 35vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: rgb(3, 46, 82) ;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgb(90, 87, 87) ;
}
.card-login > h1{
    color: rgb(255, 255, 255);
    font-weight: 800;
    margin: 0;
}
.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(1, 17, 31);
    color: aliceblue;
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgb(90, 87, 87) ;
    outline: none;
    box-sizing: border-box;
}
.textfield > input:hover{
    border: 1px solid #f72585;
}

.textfield > label{
    color: aliceblue;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: aliceblue;
}

.btnLogin{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: rgb(3, 46, 82);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0 10px 40px -12px rgb(2, 163, 10);
}
.btnLogin:hover{
    transform: scale(1.05);
    background-color: #15ff00;

}
@media (max-width: 950px){
    .card-login{
        width: 85%;
    }
}
@media (max-width: 600px){
    .login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
      width: 100%;
      height: auto;  
    }
    .right-login{
        width: 100%;
        height: auto;  
      }
      .imagem{
        width: 50vw;
      }  
}